@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  font-family: "Edu AU VIC WA NT Dots", cursive;
  font-optical-sizing: auto;
  background-color: #fafafa;
  font-style: normal;
  font-weight: 700;
}